.side-bar
  .side-header
    .side-header__box
      %p.side-header__box__user-name
        あああ
      %ul.side-header__box__menu
        %li.side-header__box__edit-user
          = link_to "#" do
            = icon('fa', 'edit')
        %li.side-header__box__new-grouo
          = link_to "#" do
            = icon('fa', 'cog')


  .side-group
    .group
      .group__name
        いいい
      .group__message
        ううう



  





-# -# .chat-side
-# -#   .side-header
-# -#     .side-header__box
-# -#       %p.side-header__box__username
-# -#         長谷
-# -#       %ul.side-header__box__menu
-# -#         %li.side-header__box__edit-user
-#           = link_to "#" do
-#             = icon('fas', 'edit')
-#         %li.side-header__box__new-group
-#           = link_to "#" do
-#             = icon('fas', 'cog')
-#   .groups